<div class="container">
    <form class="example-form" #loginForm=ngForm (ngSubmit)="Register()">
        <h3>Register Account</h3>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. user@emailcom">
            <mat-hint></mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input (ngModelChange)="Check()" type="password" matInput [formControl]="passwordFormControl"
                [errorStateMatcher]="matcher">
            <mat-hint></mat-hint>
            <mat-error *ngIf="passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('required')">
                Please enter a valid password
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input (ngModelChange)="Check()" type="password" matInput [formControl]="cpasswordFormControl "
                [errorStateMatcher]="matcher">
            <mat-hint></mat-hint>
            <mat-error *ngIf="cpasswordFormControl.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error
                *ngIf="cpasswordFormControl.hasError('passwordNotMatch') && !cpasswordFormControl.hasError('required')">
                Password does not <strong>match</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input type="text" matInput [formControl]="firstnameFormControl" [errorStateMatcher]="matcher">
            <mat-hint></mat-hint>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                First Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput [formControl]="lastnameFormControl">
            <mat-hint></mat-hint>
        </mat-form-field>
        <button type="submit" id="login" mat-raised-button color="primary">Register</button>
    </form>
</div>