.example-form {
    min-width: 150px;
    max-width: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example-full-width {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

#login {
    margin-top: 10px;
    width: 50vh;
}