<mat-tab-group mat-align-tabs="center">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">input</mat-icon>
            Login
        </ng-template>
        <app-login></app-login>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">create</mat-icon>
            Register
        </ng-template>
        <app-register></app-register>
    </mat-tab>


</mat-tab-group>