<app-admin></app-admin>

<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner diameter="50" *ngIf="isLoadingResults"></mat-spinner>
</div>

<div class="search-bar">
    <mat-form-field class="search-input" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchText" placeholder="Name" #input>
    </mat-form-field>
    <mat-chip (click)="Search(searchText)" selected>
        Search
    </mat-chip>
    <mat-chip color="warn" selected (click)="Search('')">
        Clear
    </mat-chip>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <!-- Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let element"> <img src="{{ element.image }}"></td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip (click)="chipSelect(item.id)" *ngFor="let item of element.category">
                        {{item.name}}
                    </mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef> Created At </th>
            <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef> Updated At</th>
            <td mat-cell *matCellDef="let element"> {{element.updated_at}} </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button class="removeCart" (click)="Edit(element)">
                    <mat-icon style="color: cadetblue;">tune</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Remove</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button class="removeCart" (click)="Delete(element.id)">
                    <mat-icon style="color:indianred;">delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td *ngIf="!isLoadingResults" class="mat-cell" colspan="4">No data</td>
        </tr>
    </table>
</div>
<div class="menu">
    <button #tooltip="matTooltip" matTooltip="Create Category" [matTooltipPosition]="'right'" class="add"
        (click)="Create()" mat-mini-fab color="primary">
        <mat-icon>edit</mat-icon>
    </button>
</div>
<mat-paginator [length]="totalRecords" [pageSizeOptions]="[5,10]">
</mat-paginator>