table {
    width: 100%;
}

.add {
    margin: 10px;
}

.menu {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: auto;
}

mat-form-field {
    padding: 10px;
    width: 75%;
    font-size: 13px;
}

mat-chip {
    margin: 10px 10px 10px 10px;
}

.example-loading-shade {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}


svg {
    width: 50px;
    height: 50px;
}

img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}