<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>3SI Diamond</span>
    <span class="example-spacer"></span>
    <button matTooltip="Logout" [matTooltipPosition]="'left'" routerLink="/logout" mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon">
        <mat-icon>exit_to_app</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button routerLink="/admin" mat-menu-item>
            <mat-icon>portrait</mat-icon>
            <span>Admin</span>
        </button>
    </mat-menu>
</mat-toolbar>
<div class="container">
    <mat-chip-list aria-label="Fish selection">
        <mat-chip [selected]="item.selected" *ngFor="let item of items" (click)="set(item)" [routerLink]="item.link">
            {{item.name}}
        </mat-chip>
    </mat-chip-list>
</div>
<router-outlet></router-outlet>