<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Category Name</mat-label>
        <input matInput [(ngModel)]="data.category_name">
        <mat-hint *ngIf="data.err">Cần nhập tên Category!</mat-hint>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="warn" [mat-dialog-close]="null">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data.category_name"
        cdkFocusInitial>{{data.buttonTitle}}</button>
</div>