<h1 mat-dialog-title>{{data.title}}</h1>
<div class="content" mat-dialog-content>
    <form [formGroup]="myForm" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput min="1000" placeholder="1000" type="number" matInput formControlName="price">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
        <!-- input -->
        <mat-form-field appearance="outline">
            <mat-label>Image</mat-label>
            <ngx-mat-file-input accept="image/png, image/jpeg" (change)="onFileSelected()"
                formControlName="fileControl">
                <mat-icon ngxMatFileInputIcon>folder</mat-icon>
            </ngx-mat-file-input>
            <img class="preview" [src]="imageProduct" style="height: 50px;">
        </mat-form-field>

        <!-- category Chip -->
        <mat-form-field class="example-chip-list" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip *ngFor="let cate of cates" (removed)="remove(cate)">
                    {{cate.name}}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input placeholder="New category..." #cateInput [formControl]="categoryControl" [matAutocomplete]="auto"
                    [matChipInputFor]="chipList" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let cate of filteredCates| async" [value]="cate">
                    {{cate.name}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>


        <div mat-dialog-actions>
            <button mat-flat-button color="warn" [mat-dialog-close]="null" (click)="onNoClick()">Cancel</button>
            <button type="submit" mat-raised-button color="primary" [mat-dialog-close]="cproduct"
                cdkFocusInitial>{{data.buttonTitle}}</button>
        </div>
    </form>
</div>